@import "catppuccin/macchiato.css";

* {
  font-family: FantasqueSansM Nerd Font;
  font-size: 18px;
}

#waybar {
  background: transparent;
}

#workspaces,
#custom-music,
#window,
#tray,
#language,
#clock,
#pulseaudio,
#custom-lock,
#custom-power {
  padding: 0.25rem 1rem;
  background-color: @base;
}


/* Workspaces */
#workspaces button {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button.visible {
  color: @lavender;
  border-radius: 1rem;
}

/* Colors */
#clock {
  color: @blue;
}

#language {
  color: @peach;
}

#pulseaudio {
  color: @maroon;
}

#window,
#custom-music {
  color: @mauve;
}

#custom-lock {
  color: @lavender;
}

#custom-power {
  color: @red;
}

/* Margins */
#custom-power,
#clock,
#custom-music {
  margin-right: 1rem;
}

/* Borders */
#workspaces,
#custom-music,
#window,
#tray {
  border-radius: 2rem;
}

/* Grouped borders */
#custom-lock {
    border-radius: 2rem 0 0 2rem ;
}

#custom-power {
    border-radius: 0 2rem 2rem 0;
}

#language {
    border-radius: 2rem 0 0 2rem;
}

#pulseaudio {
    border-radius: 0;
} 

#clock {
  border-radius: 0 2rem 2rem 0;
}
