@import "catppuccin/macchiato.css";

* {
  font-family: FantasqueSansM Nerd Font;
  font-size: 18px;
      }
  
  #waybar {
    background: transparent;
  }
  
#workspaces,
#custom-music,
#window,
#language,
#tray,
#clock,
#pulseaudio,
#custom-lock,
#custom-power {
  padding: 0.25rem 1rem;
  background-color: @base;
  border-radius: 2rem;
}

.modules-right * {
  margin-right: 1rem;
}

#workspaces button {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button.visible {
  color: @lavender;
  border-radius: 1rem;
}

#clock {
  color: @blue;
}

#language {
  color: @peach;
}

#pulseaudio {
  color: @maroon;
}

#window,
#custom-music {
  color: @mauve;
}

#custom-lock {
    color: @lavender;
}

#custom-power {
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
